body {
  background: #eeeeee;
}

.wrapper{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.container{
  display: flex;
}

.item{
height: 100px;
min-width: 100px;
}

.green{
  background: green;
}

.yellow{
  background: yellow;
}

.purple{
  background: purple;
}

.pink{
  background: pink;
}

.orange{
  background: orange;
}

.blue{
  background: blue;
}